<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Error</title>
    <style>
      body {
        font-family: "Segoe UI", sans-serif;
        color: #555;
        text-align: center;
      }
      .number {
        font-size: 140px;
        font-weight: lighter;
      }
    </style>
  </head>

  <body>
    <h1 class="number">404</h1>
    <h1>An error occurred!</h1>
    <h2>The requested <%= url %> could not be found on this server</h2>
  </body>
</html>
